.muted {
  color: #c0c0c0;
}
.fundings-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px 50px;
}

.funding-card {
  box-shadow: rgba(10, 10, 10, 0.08) 0px 0px 30px;
  margin-bottom: 60px;
  height: 720px;

  img {
    height: 320px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: 50% 0;
  }

  &__content {
    padding: 20px 30px;

    h2 {
      font-size: 18px;
      height: 58px;
      overflow: hidden;
    }
  }

  &__description {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7;
    color: #5e5e5e;
    height: 130px;
    margin-top: 20px;
    overflow: hidden;
  }

  &__btn {
    background-color: $green;
    border: $green;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 10px;
    padding: 18px 25px 18px;
    text-transform: uppercase;
    outline: none;
  }

  &__progress-goal {
    &__left {
      float: left;
    }

    &__right {
      float: right;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

// .funding-desc {
//   border: 1px solid red;
//   height: 50%;
// }
