@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import "./styles/variables";
@import "./App.scss";
@import "./styles/fundingDetails";

* {
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  margin: auto;
  width: 90%;
}

a {
  color: initial;
  text-decoration: none;
}

a:visited {
  color: initial;
  text-decoration: none;
}
